# 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [2]:
 test1 = 'This is a test of the emergency text system'

In [3]:
with open('test.txt', 'w') as outfile:
    outfile.write(test1)

# 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [4]:
with open('test.txt', 'rt') as infile:
    test2 = infile.read()

In [5]:
len(test2)

43

In [6]:
test1 == test2

True

# 3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [7]:
text='''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

In [8]:
with open('books.csv', 'wt') as outfile:
    outfile.write(text)

# 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [9]:
import sqlite3

In [10]:
db = sqlite3.connect('books.db')

In [11]:
curs = db.cursor()

In [14]:
curs.execute('drop table book')

In [15]:
db.commit()

In [16]:
curs.execute('''create table book (title text, author text, year int)''')

In [17]:
db.commit()

# 5. Read books.csv and insert its data into the book table.

In [18]:
import csv

In [19]:
import sqlite3

In [20]:
ins_str = 'insert into book values(?, ?, ?)'

In [21]:
with open('books.csv', 'rt') as infile:
    books = csv.DictReader(infile)
    for book in books:
        curs.execute(ins_str, (book['title'], book['author'], book['year']))

In [22]:
db.commit()

# 6. Select and print the title column from the book table in alphabetical order.

In [27]:
sql = 'select * from book order by title asc'

In [28]:
for row in db.execute(sql):
    print(row)

('Perdido Street Station', 'China Miéville', 2000)
('Small Gods', 'Terry Pratchett', 1992)
('The Spellman Files', 'Lisa Lutz', 2007)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Thud!', 'Terry Pratchett', 2005)

# 7. From the book table, select and print all columns in the order of publication.

In [26]:
for row in db.execute('select * from book order by year'):
    print(row)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

# 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [30]:
import sqlalchemy

In [31]:
conn = sqlalchemy.create_engine('sqlite:///books.db')

In [32]:
sql = 'select title from book order by title asc'

In [33]:
rows = conn.execute(sql)

In [34]:
for row in rows:
     print(row)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

# 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [ ]:
!pip install redis

import redis
conn = redis.Redis()
conn.delete('test')
1
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
True
conn.hgetall('test')
{b'name': b'Fester Bestertester', b'count': b'1'}

# 10. Increment the count field of test and print it.

In [ ]:
conn.hincrby('test', 'count', 3)
4
conn.hget('test', 'count')
b'4'