In [17]:
# Question1

"""
Create a list called years_list, starting with the year of your birth, and each year thereafter
until the year of your fifth birthday. For example, if you were born in 1980. the list would be
years_list = [1980, 1981, 1982, 1983, 1984, 1985].

"""

#Answer

"""
l_year = [1997, 1998, 1999, 2000, 2001]

"""

''

In [2]:
# Question2

"""
In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

"""

#Answer
"""
2000

"""

In [3]:
# Question3

"""
In the years list, which year were you the oldest?

"""

#Answer

"""
2001

"""

In [4]:
# Question4

"""

Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".


"""

#Answer

"""
l_ella = [ "mozzarella", "cinderella", "salmonella"]

"""

In [5]:
# Question5

"""
Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

"""

#Answer

"""
Yes, it change the element in the list

before:
person = [brush, watch]

after:
person = [Brush, Watch]
"""

In [6]:
# Question6

"""
Make a surprise list with the elements "Groucho," "Chico," and "Harpo."

"""

#Answer


"""
surprise = ["Groucho," "Chico," and "Harpo."]

"""

In [21]:
# Question7

"""
Lowercase the last element of the surprise list, reverse it, and then capitalize it.

"""

#Answer

def lower(l_list):
    s_lower = [i.lower() for i in l_list[-1]]
    s_lower.reverse()
    s_upper = [i.upper() for i in s_lower]
    l_list.insert(-1, "".join(s_upper))
    l_list.pop(-1)
    return l_list
try:
    print(lower(["Aditya", "Sonu", "loki"], 89))

except Exception as R:
    print(R, ". please Enter a valid input")

['Aditya', 'UNOS']

In [8]:
# Question8

"""
Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat,
and walrus is morse.

"""

#Answer

" e2f = {"dog" : "chien", "cat" : "chat", "walrus" : "morse"}"

In [22]:
# Question9

"""
Write the French word for walrus in your three-word dictionary e2f.

"""

#Answer

"""
print(e2f["walrus"])

"""

'\nprint(e2f["walrus"])\n\n'

In [10]:
# Question10

"""
Make a French-to-English dictionary called f2e from e2f. Use the items method.

"""

#Answer

"""
f2e = {"chien" : "dog"  , "chat" : "cat" , "morse" : "walrus"  }

"""

In [11]:
# Question11

"""
Print the English version of the French word chien using f2e.

"""

#Answer

"""
print(f2e["chien"])

"""

In [12]:
# Question12

"""
Make and print a set of English words from the keys in e2f.

"""

#Answer

"""
set_e2f = e2f.keys()
set_e2f = set(set_e2f)
print(set_e2f)

"""

In [4]:
# Question13

"""
Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. 
Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer
to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.

"""

#Answer

life = {'animals': {
    'cats': ['Henri', 'Grumpy', 'Lucy'],
    'octopi': [],
    'emus' : [],
},
       'plants': [],
       'othres': []}

In [14]:
# Question14

"""
Print the top-level keys of life.

"""

#Answer

" 'animals', 'plants', and 'other'"

In [15]:
# Question15

"""
 Print the keys for life['animals'].
 
"""

#Answer

"cats', 'octopi', and 'emus'"

In [16]:
# Question16

"""
Print the values for life['animals']['cats']

"""

#Answer

"'Henri', 'Grumpy', and 'Lucy'."